@import url(https://assets.cathaypacific.com/fonts/css/prod/fonts.css);
* {
    margin: 0;
    padding: 0;
}

/* phone */

@media screen and (max-width: 599px) {
    html,
    body {
        font-family: 'Aktiv Grotesk W01 Light1370681';
        color: #4C4C4C;
        box-sizing: border-box;
        height: 100%;
        max-width: 599px;
        margin: auto;
        overflow-x: hidden;
    }
    .container-fluid {
        width: 100%;
    }
    .bg-grey {
        background-color: #ebedec;
    }
    #header {
        height: 44px;
        width: 100%;
        background-color: #006564;
    }
    .row {
        width: 375px;
        margin: 0 0 0 -4.3%;
    }
    .cxlogo {
        display: none;
    }
    .oneworld {
        display: none;
    }
    .cxlogoswoosh {
        display: block;
        margin: auto;
    }



        h1 {
            font-family: 'Aktiv Grotesk W01 Light1370681';
            font-size: 24px;
            color: #006564;
            line-height: 60px;
            margin: 2.5% 0 2% 0;
        }

        h2 {
            font-family: 'Aktiv Grotesk W01 Light1370681';
            font-size: 20px;
            color: #006564;
            margin: 2% 0 0 0;
        }

        h3 {
            font-family: 'Aktiv Grotesk W01 Regular';
            font-size: 17px;
            color: #006564;
            margin: 2% 0 0 0;
        }

        h4 {
            font-family: 'Aktiv Grotesk W01 Regular';
            font-size: 17px;
            margin: 0 -2% 0 0;
        }

        p {
            font-family: 'Aktiv Grotesk W01 Regular';
            font-size: 14px;
            line-height: 19px;
            margin: 0 -2% 0 0;
        }

        /* proposal 1 */

        h1.p1 {
            font-family: 'Aktiv Grotesk W01 Light1370681';
            font-size: 28px;
            color: #006564;
            line-height: 35px;
            margin: 2.5% 0 2% 0;
            padding-top:15px;

                        padding-bottom:15px;
        }

        h2.p1 {
            font-family: 'Aktiv Grotesk W01 Light1370681';
            font-size: 26px;
            color: #006564;
            line-height: 33px;
            margin: 2% 0 1% 0;
                        padding-bottom:15px;
        }

        h3.p1 {
            font-family: 'Aktiv Grotesk W01 Regular';
            font-size: 20px;
            color: #006564;
            line-height: 25px;
            margin: 2% 0 1% 0;
        }

        h4.p1 {
            font-family: 'Aktiv Grotesk W01 Regular';
            font-size: 15px;
            color: #006564;
            line-height: 21px;
            margin: 0 -2% 1% 0;
        }

        p.p1 {
            font-family: 'Aktiv Grotesk W01 Regular';
            font-size: 14px;
            line-height: 19px;
            margin: 0 -2% 0 0;
        }


        /* proposal 2 */

        h1.p2 {
            font-family: 'Aktiv Grotesk W01 Light1370681';
            font-size: 28px;
            color: #006564;
            line-height: 41px;
            margin: 2.5% 0 2% 0;
            padding-bottom:15px;
        }

        h2.p2 {
            font-family: 'Aktiv Grotesk W01 Light1370681';
            font-size: 24px;
            color: #006564;
            line-height: 33px;
            margin: 2% 0 1% 0;
                        padding-bottom:15px;
        }

        h3.p2 {
            font-family: 'Aktiv Grotesk W01 Medium';
            font-size: 18px;
            color: #006564;
            line-height: 25px;
            margin: 2% 0 1% 0;
        }

        h4.p2 {
            font-family: 'Aktiv Grotesk W01 Medium';
            font-size: 16px;
            color: #006564;
            line-height: 21px;
            margin: 0 -2% 1% 0;
        }

        p.p2 {
            font-family: 'Aktiv Grotesk W01 Regular';
            font-size: 16px;
            line-height: 21px;
            margin: 0 -2% 0 0;
        }

    #cancelled-message {
        width: 343px;
        height: 84px;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        margin: 0 0 5% 0;
    }
    #accept-message {
        width: 343px;
        height: 147px;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        margin: 6% 0 0 0;
    }
    #booking-reference {
        height: 21px;
        width: 200px;
        color: #4C4C4C;
        font-size: 14px;
        line-height: 21px;
        font-family: 'Aktiv Grotesk W01 Medium';
        margin: 0 0 3% 4%;
    }
    .row {
        width: 100%;
    }
    .col-sm-8 {
        width: 100%;
        align:left;
        margin-left:18px;
        padding: 0;
    }
    .flight-icon {
        display: none;
    }
    .flight-divider {
        height: 11px;
        width: 1px;
        background-color: #C6C2C1;
        margin: -4.5% 0 0 34%;
    }
    .flight-number {
        color: #006564;
        margin: -4.3% 0 0 37%;
    }
    .space {
        padding: .5%;
    }
    .days {
        font-size: 12px;
        margin: -23% 0 7% 59%;
    }
    .business-class {
        height: 34px;
        width: 343px;
        margin: 9% 0 0 4%;
        display: none;
    }
    .business-small {
        height: 34px;
        width: 343px;
        margin: 9% 0 0 4%;
        display: block;
    }
    .operation {
        font-size: 14px;
        color: #4C4C4C;
        line-height: 19px;
        width: 375px;
        height: 30px;
        margin: 3% 0 3% 0;
        padding: 0 4% 0 4%;
        background-color: white;
        font-weight: 300;
    }
    .passenger-icon {
        display: none;
    }
    .baby-icon {
        display: none;
    }
    .route-depart {
        height: 18px;
        width: 180px;
        margin: -1% 0 0 25%;
    }
    .flight-one {
        width: 375px;
        height: 62px;
        background-color: #FFFFFF;
    }
    .flight-one-title {
        margin: 1% 0 0 4%;
        padding-top: 3%;
    }
    .flight-one-gap {
        height: 1px;
        width: 351px;
        background-color: #ebedec;
        box-shadow: rgba(0, 0, 0, 0.3);
        margin: -1% 0 0 2.5%;
    }
    .flight-one-from {
        margin: 0 0 0 4%;
        padding: 9% 0 0 0;
    }
    .flight-one-details {
        height: 160px;
        width: 375px;
        background-color: #FFFFFF;
        margin-top: -10px;
        box-shadow: rgba(0, 0, 0, 0.3);
        font-family: 'Aktiv Grotesk W01 Regular';
    }
    .flight-one-duration {
        font-size: 10px;
        margin: -9% 0 0 35%;
    }
    .flight-one-to {
        margin: -13% 0 0 77%;
    }
    .flight-two {
        width: 375px;
        height: 62px;
        background-color: #FFFFFF;
        margin: 10% 0 0 0;
    }
    .flight-two-title {
        margin: 1% 0 0 4%;
        padding-top: 3%;
    }
    .flight-two-gap {
        height: 1px;
        width: 351px;
        background-color: #ebedec;
        box-shadow: rgba(0, 0, 0, 0.3);
        margin: -1% 0 0 2.5%;
    }
    .flight-two-from {
        margin: 0 0 0 4%;
        padding: 9% 0 0 0;
    }
    .flight-two-details {
        height: 160px;
        width: 375px;
        background-color: #FFFFFF;
        margin-top: -10px;
        box-shadow: rgba(0, 0, 0, 0.3);
        font-family: 'Aktiv Grotesk W01 Regular';
    }
    .flight-two-duration {
        font-size: 10px;
        margin: -9% 0 0 35%;
    }
    .flight-two-to {
        margin: -13% 0 0 77%;
    }
    .meal {
        height: 68px;
        width: 347px;
        color: #4C4C4C;
        font-size: 14px;
        line-height: 17px;
        margin: 12% 4% 6% 4%;
    }
    .accept {
        height: 46px;
        width: 343px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.2);
        background: linear-gradient(180deg, #0A90A3 0%, #00718C 100%);
        color: #FFFFFF;
        font-weight: 300;
        margin: 0 0 0 4%;
    }
    .line1 {
        height: 1px;
        width: 375px;
        background-color: #C6C2C1;
        margin: 6% 0 4% 0;
    }
    #expand {
        width: 375px;
        margin: 0;
        padding: 0 0 1% 0;
    }
    .expand-arrow-up {
        height: 12px;
        width: 21px;
        margin: 0 2% 0 0;
        display: none;
    }
    .expand-arrow-down {
        height: 12px;
        width: 21px;
        margin: 0 2% 0 0;
        /* display: ; */
    }
    .cancelled-itin {
        height: 22px;
        width: 200px;
        color: #00718C;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        background-color: #ebedec;
        border: #ebedec;
        margin: 0 0 0 4%;
    }
    .old-itin {
        background-color: #ebedec;
        margin: 0;
        height: 100%;
    }
    .old-flight-one {
        width: 375px;
        height: 62px;
        background-color: #FFFFFF;
    }
    .old-flight-two {
        width: 375px;
        height: 62px;
        background-color: #FFFFFF;
        margin: 10% 0 0 0;
    }
    .line2 {
        height: 1px;
        width: 375px;
        background-color: #C6C2C1;
        margin: 5.5% 0 0 0;
    }
    .col-sm-4 {
        width: 375px;
        height: 256px;
        margin: 0 0 0 0;
        padding: 0;
    }

    .spacing {
        height:120px;
    }


    #passenger {
        color: #006564;
        font-size: 16px;
        line-height: 21px;
        font-weight: 300;
        margin: 6% 0 3% 4%;
    }
    .passenger1 {
        height: 55px;
        width: 375px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
        padding: 4%;
        margin: .3% 0 0 0;
    }
    .passenger2 {
        height: 55px;
        width: 375px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
        padding: 4%;
        margin: .3% 0 0 0;
    }
    .passenger3 {
        height: 55px;
        width: 375px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
        padding: 4%;
        margin: .3% 0 0 0;
    }
    .passenger4 {
        height: 55px;
        width: 375px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
        padding: 4%;
        margin: .3% 0 0 0;
    }
    .passenger5 {
        height: 55px;
        width: 375px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
        display: none;
    }
    .passenger5-baby {
        height: 55px;
        width: 375px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 300;
        display: none;
    }
    .line3 {

            height: .15%;
            width: 91.47%;
        margin: 8% 0 0 4%;
        background-color: #C6C2C1;
    }
    .footer {
        width: 375px;
    }
    .cathay-pacific {
        height: 17px;
        width: 121px;
        margin: -8% 0 0 2%;
    }
    .cathay-dragon {
        height: 17px;
        width: 128px;
        margin: -8% 0 0 2%;
    }
    .asia-miles {
        height: 17px;
        width: 66px;
        margin: 14% 0 0 -70%;
    }
    .legal {
        height: 12px;
        width: 69px;
        color: #0F748F;
        font-size: 10px;
        line-height: 12px;
        margin: 7% 0 0 2%;
    }
    .contact {
        height: 12px;
        width: 51px;
        color: #0F748F;
        font-size: 10px;
        line-height: 12px;
        margin: -3.2% 0 0 26%;
    }
    .copyright {
        height: 12px;
        width: 46px;
        color: #0F748F;
        font-size: 10px;
        line-height: 12px;
        margin: -3.2% 0 0 47%;
    }
    .cpa {
        height: 15px;
        width: 284px;
        color: #767676;
        font-size: 10px;
        line-height: 15px;
        margin: 4% 0 0 2%;
    }
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .acceptance {
        height: 240px;
        width: 375px;
        background-color: #FFFFFF;
        z-index: 11;
        position: fixed;
        left: 0px;
        right: 0px;
    }
    .acceptance-content {
        bottom: 177px;
        width: 320px;
        font-weight: 300;
        margin: -10% 8%;
    }
    .cancel {
        height: 46px;
        width: 156px;
        border: 1px solid #0F748F;
        border-radius: 2px;
        position: relative;
        left: 0px;
        top: 20px;
        background-color: white;
    }
    .confirm {
        height: 46px;
        width: 155px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        background: linear-gradient(180deg, #0A90A3 0%, #00718C);
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
        color: white;
        position: relative;
        left: 0px;
        top: 20px;
    }
    .thanks {
        position: fixed;
        left: 0px;
        right: 0px;
        height: 210px;
        width: 375px;
        background-color: #FFFFFF;
        z-index: 11;
    }
    .thanks-content {
        color: #006564;
        text-align: center;
        font-size: 24px;
        position: relative;
        top: 25px;
        left: 0px;
        width: 360px;
    }
    .manage {
        height: 46px;
        width: 206px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        background: linear-gradient(180deg, #0A90A3 0%, #00718C 100%);
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
        color: white;
        position: relative;
        left: 85px;
        top: 40px;
    }
}
